body {
    
    font-family: 'Arial, Helvetica, sans-serif;';
    background: -webkit-linear-gradient(to right, #004346,#48bdac);
    background: linear-gradient(to right, #004346, #48bdac);
    height: 100%;
    
    
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    

}

h4{

    color: #eaeeea;
}

.c:hover{
    color: white !important;
}
